.active-navbar-item {
    color: #fac564 !important;
}

.oi {
    color: inherit !important;
}

.hover-image {
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.cart-button {
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: black;
    display: flex;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    background: #fac564;
    height: 5rem;
    width: 5rem;
    font-size: 2rem;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

    .cart-button:hover {
        background: #ffc107;
        transition: all .2s ease-in-out;
    }

.cart-icon {
    margin-bottom: .35rem;
}

.hover-image:hover {
    transform: scale(1.05);
    transition: transform .1s ease-in-out;
}

.bg-dark-transparent {
    background: rgba(52, 58, 64, 0.4) !important;
}

.section-title {
    text-transform: capitalize;
    letter-spacing: 2px;
    margin: 0;
}

.h-90 {
    height: 90%;
}

.h-80 {
    height: 80%;
}

.h-70 {
    height: 70%;
}

.h-60 {
    height: 60%;
}

.h-50 {
    height: 50%;
}

.h-40 {
    height: 40%;
}

.h-30 {
    height: 30%;
}

.h-20 {
    height: 20%;
}

.h-10 {
    height: 10%;
}

.flex-100 {
    flex-basis: 100%;
}

.flex-90 {
    flex-basis: 90%;
}

.flex-80 {
    flex-basis: 80%;
}

.flex-70 {
    flex-basis: 70%;
}

.flex-60 {
    flex-basis: 60%;
}

.flex-50 {
    flex-basis: 50%;
}

.flex-40 {
    flex-basis: 40%;
}

.flex-30 {
    flex-basis: 30%;
}

.flex-20 {
    flex-basis: 20%;
}

.flex-10 {
    flex-basis: 10%;
}

.border-dark {
    border-color: rgba(0, 0, 0, 0.125) !important;
}

.img-fit {
    object-fit: cover;
}

.cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

    .cbx span {
        display: inline-block;
        vertical-align: middle;
        transform: translate3d(0, 0, 0);
    }

        .cbx span:first-child {
            position: relative;
            width: 18px;
            height: 18px;
            border-radius: 3px;
            transform: scale(1);
            vertical-align: middle;
            border: 1px solid #9098A9;
            transition: all 0.2s ease;
        }

            .cbx span:first-child svg {
                position: absolute;
                top: 3px;
                left: 2px;
                fill: none;
                stroke: #FFFFFF;
                stroke-width: 2;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-dasharray: 16px;
                stroke-dashoffset: 16px;
                transition: all 0.3s ease;
                transition-delay: 0.1s;
                transform: translate3d(0, 0, 0);
            }

            .cbx span:first-child:before {
                content: "";
                width: 100%;
                height: 100%;
                background: #506EEC;
                display: block;
                transform: scale(0);
                opacity: 1;
                border-radius: 50%;
            }

        .cbx span:last-child {
            padding-left: 8px;
        }

    .cbx:hover span:first-child {
        border-color: #506EEC;
    }

.inp-cbx:checked + .cbx span:first-child {
    background: #506EEC;
    border-color: #506EEC;
    animation: wave 0.4s ease;
}

    .inp-cbx:checked + .cbx span:first-child svg {
        stroke-dashoffset: 0;
    }

    .inp-cbx:checked + .cbx span:first-child:before {
        transform: scale(3.5);
        opacity: 0;
        transition: all 0.6s ease;
    }

@keyframes wave {
    50% {
        transform: scale(0.9);
    }
}

.loader-container {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.loader {
    color: #ffffff;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    margin: 1em 0;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

.loader-xm {
    font-size: 10px;
}

.loader-sm {
    font-size: 30px;
}

.loader-md {
    font-size: 50px;
}

.loader-lg {
    font-size: 70px;
}

.loader-xl {
    font-size: 90px;
}

@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%, 95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%, 59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%, 95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%, 59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.black-modal {
    background: #212529;
}

.notificable .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: black;
    color: #ffc107;
    font-family: sans-serif;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #fac564;
}

.bg-dark label {
    color: #fac564;
}

.bg-dark select option {
    background-color: #343a40;
}

.bg-dark select option:hover {
    background-color: black;
}